.bg-banner {
    /* Chrome10+,Safari5.1+ */

    .banner {

        // background-size: cover;

        .head-banner {
            .logo {
                padding: 35px 0px;
            }

            .heading {

                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));

                .d7 {
                    width: 0;
                    height: 0;
                    border-top: 30px solid $light;
                    border-right: 30px solid transparent;
                }
            }

            h1 {
                background-color: $light;


            }

            ul {
                padding-left: 30px;
                @include font($arial, 18px, $dark);

                // font-weight: bold;
                li {
                    display: flex;
                    align-items: center;

                    &::before {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: $medium;
                        border-radius: 50%;
                        transform: translateX(-20px);
                    }
                }

            }

            h3 {
                padding-left: 40px;
            }

            .buttons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 40px;

                grid-column-gap: 30px;
                grid-row-gap: 15px;

                button {
                    // padding: 5px;
                    display: block;
                    background: none;
                    border: 1px solid $medium;
                    @include font($normal, 18px, $medium);
                    line-height: 42px;
                }
            }


        }
    }
}

@media (min-width:320px) {

    .bg-banner {
        padding: 0;

        .banner {
            background: none;
            padding: 0 15px;

            .head-banner {
                position: relative;
                .buttons-mob{
                    position: absolute;
                    right: 0px;
                    top: 65px;
                    button{
                        display: block;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border-color: #8da9bd;
                        border-style: solid;
                        margin-bottom: 10px;
                    }
                    button:nth-child(1){
                        background:$medium url(/assets/img/Chat.svg) no-repeat center center;
                        background-size: 70%;
                    }
                    button:nth-child(2){
                        background:$medium url(/assets/img/Login.svg) no-repeat center center;
                        background-size: 70%;
                    }
                    button:nth-child(3){
                        background:$dark url(/assets/img/arrow.png) no-repeat center center;
                    }
                }
                .heading {
                    transform: translate(0);
                }

                .logo {
                    display: none;
                }

                h1 {
                    width: 100%;
                    font-size: 24px;
                    padding: 5px 0px 5px 30px;
                    margin-top: 10px;
                }

                ul {
                    padding-left: 30px;
                    @include font($arial, 16px, $dark);
                    line-height: 1.75;

                    // font-weight: bold;
                    li {
                        display: block;
                        align-items: center;
                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 10px;
                        }
                    }

                }

                .buttons {
                    grid-template-columns: repeat(1, 1fr);
                    padding: 0px 30px;
                    width: 100%;
                    padding-bottom: 20px;

                    grid-column-gap: 0px;
                    grid-row-gap: 10px;

                    button {
                        @include font($normal, 18px, $medium);
                        line-height: 42px;
                    }
                }

                .first-order {
                    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));

                    button {
                        display: block;
                        width: 100%;
                        @include font($normal, 18px, $dark-blue);
                        text-transform: uppercase;
                        line-height: 36px;
                        background-color: $light;
                        border: none;
                        padding: 10px 0;
                        margin-top: 25px;
                        
                        span:first-of-type {
                            @include font($bold, 34px, $warning);
                        }
                        span:last-of-type {
                            @include font($normal, 26px, $warning);
                        }
                    }

                    .d7 {
                        width: 0;
                        height: 0;
                        border-top: 20px solid $light;
                        border-right: 20px solid transparent;
                    }
                }
            }
        }
    }
}

@media (min-width:970px) {
    .bg-banner {
        background: url(/assets/img/Imgfon.png) no-repeat center center;

        .banner {
            background: none;
            .head-banner {
                .buttons-mob{
                    display: none;
                }
                .first-order{
                    display: none;
                }
                .logo {
                    display: block;
                }

                h1 {
                    width: 60%;
                    font-size: 32px;
                }

                .buttons {
                    grid-template-columns: repeat(2, 1fr);
                    padding: 40px;
                    width: 60%;


                    grid-column-gap: 30px;
                    grid-row-gap: 15px;

                    button {
                        @include font($normal, 18px, $medium);
                        line-height: 42px;
                    }
                }


                ul {
                    padding-left: 30px;
                    @include font($arial, 18px, $dark);
                    line-height: 1.833;


                    // font-weight: bold;
                    li {
                        display: flex;
                        align-items: center;

                        &::before {
                            content: "";
                            display: block;
                            position: relative;
                        }
                    }

                }
            }
        }
    }
}

@media (min-width:1170px) {
    .bg-banner {
        background: -webkit-linear-gradient(left, rgba(230, 237, 245, 1) 0%, rgba(230, 237, 245, 1) 36%, rgba(248, 249, 249, 1) 63%, rgba(248, 249, 249, 1) 100%);

        padding: 0 15px;

        .banner {
            background: url(/assets/img/banner.png) no-repeat center center;


            .head-banner {
                .heading {
                    transform: translateX(-15px);
                }

                .logo {
                    display: block;
                }

                h1 {
                    width: 50%;
                    padding: 20px 50px;
                    font-size: 32px;
                }

                .buttons {
                    width: 50%;
                }
            }
        }
    }
}