.time-consuming {
    border-top: solid $body-bg 1px;
    background: url(/assets/img/Bg3.svg) no-repeat center;
    background-size: 100%;
    background-position-y: -250px;

    p {
        @include font($arial, 18px, $black);
        text-align: justify;

    }

    h4 {
        height: 60px;
    }

    .first-order {

        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
        margin-bottom: 15px;

        article {
            background-color: $light;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
        }

        .d7 {
            width: 0;
            height: 0;
            border-top: 20px solid $light;
            border-right: 20px solid transparent;
        }
    }

    .option-block {
        margin-top: 50px;
        display: grid;
        grid-column-gap: 20px;
        text-align: center;

        div {
            cursor: pointer;
            display: flex;
            flex-direction: column;

            h4 {
                text-align: center;
                margin: 10px 0;
            }



            article {
                background: none;
                padding: 10px;
                height: 100%;
                position: relative;
                padding-bottom: 50px;

                p:last-child {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    text-align: center;
                    width: 100%;
                }

                ul {
                    list-style-type: disc;
                    padding-left: 0px;
                    text-align: left;
                    list-style-position: inside;
                }

                button {
                    background-color: $dark-blue;
                    @include font($normal, 16px, $white);
                    padding: 10px 20px;
                    border: none;
                    text-transform: uppercase;
                }
            }

            .d7 {
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-right: 20px solid transparent;
                filter: none;
            }



            i {
                display: block;
                margin: 0 auto;
                width: 110px;
                height: 110px;
                border-radius: 50%;
            }


            &:nth-child(2) i {
                background: url(/assets/img/Element1.svg);
                transition: 1s;
            }

            &:nth-child(2):hover {
                i {

                    background: url(/assets/img/Element1_dark.svg);
                }
            }

            &:nth-child(3) i {
                background: url(/assets/img/Element2.svg);
                transition: 1s;
            }

            &:nth-child(3):hover {
                i {
                    background: url(/assets/img/Element2_dark.svg);

                }
            }

            &:nth-child(4) i {
                background: url(/assets/img/Element3.svg);
                transition: 1s;
            }

            &:nth-child(4):hover {
                i {

                    background: url(/assets/img/Element3_dark.svg);
                }
            }

            &:nth-child(5) i {
                background: url(/assets/img/Element4.svg);
                transition: 1s;
            }

            &:nth-child(5):hover {
                i {
                    background: url(/assets/img/Element4_dark.svg);
                }
            }

            &:hover {
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));

                .d7 {
                    border-top: 20px solid $white;
                }

                article {

                    background-color: $white;
                }
            }
        }

    }
}

@media (min-width:320px) {
    .time-consuming {
        .option-block {
            grid-template-columns: repeat(1, 1fr);
            div{
                display: none;
                i {
                    display: none;
                }
                .d7{
                    display: none;
                }

                &.show{
                    display: block;
                }
            }
            .icon-mob{
                display: block;
                text-align: center;
                li{
                    display: inline-block;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    &:nth-child(1){
                        background: url(/assets/img/Element1.svg);
                    }
                    &:nth-child(2){
                        background: url(/assets/img/Element2.svg);
                    }
                    &:nth-child(3){
                        background: url(/assets/img/Element3.svg);
                    }
                    &:nth-child(4){
                        background: url(/assets/img/Element4.svg);
                    }
                }
            }
        }

        p {
            font-size: 16px;
        }

        h2 {
            font-size: 22px;
        }
    }
}

@media (min-width:970px) {
    .time-consuming {
        .option-block {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            div {
                display: block;
                i {
                    display: block;
                }
                .d7{
                    display: block;
                }
                i {
                    display: block;
                }
                .d7{
                    display: block;
                }
            }
            .icon-mob{
                display: none;}

        }

        p {
            font-size: 18px;
        }

        h2 {
            font-size: 28px;
        }
    }
}

@media (min-width:1170px) {
    .time-consuming {
        .option-block {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}