<header>
    <div class="container-fluid bg-top">
        <section class="container top">
            <a href="#"><span>Sales toll free:</span> 1 (044) 121-0506</a>
            <a href="#"><span>Support toll free: </span>1 (044) 121-0507</a>
            <a href="#" class="icon d-n">login <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            <a href="#" class="icon d-n">live chat <i class="fa-regular fa-comments"></i></a>
            <a href="#" class="logo-m">
                <img src="assets/img/logo_m.png" alt="">
            </a>
        </section>
    </div>
    <div class="container-fluid bg-menu">
        <ul class="container menu">
            <li><a href="#">home</a></li>
            <span>|</span>
            <li><a href="#">about us</a></li>
            <span>|</span>
            <li><a href="#">prices</a></li>
            <span>|</span>
            <li><a href="#">discounts</a></li>
            <span>|</span>
            <li><a href="#">guarantees</a></li>
            <span>|</span>
            <li><a href="#">faq</a></li>
            <span>|</span>
            <li><a href="#">beware</a></li>
            <span>|</span>
            <li><a href="#">contact us</a></li>
            <span>|</span>
            <li><a href="#">blog</a></li>
        </ul>
    </div>
</header>