<div class="container-fluid bg-banner">
    <section class="banner">
        <article class="container head-banner">
            <a href="#" class="logo">
                <img src="/assets/img/company-logo.png" alt="">
            </a>
            
            <div class="heading">
                <h1>Things go Better with Us!</h1>
                <div class="d7"></div>
            </div>
            <h3>What we offer you:</h3>
            <ul>
                <li>A dedicated writer who is qualified in your field Your subject </li>
                <li>Your subject matter analyzed, researched, referenced and written as you instruct </li>
                <li>Papers tested for plagiarism using systems such as Copyscape plus a validation report</li>
                <li>A flawless end product in terms of style and grammar</li>
            </ul>
            <div class="first-order">
                <button>
                    <span>15</span>
                    <span>% off</span>
                    your first order
                </button>
                <div class="d7"></div>
            </div>
            <section class="buttons">
                <button>Essays & Research Papers</button>
                <button>Dissertations & Thesess</button>
                <button>Resumes & CVs</button>
                <button>Editing & Proofreading</button>
            </section>
            <div class="buttons-mob">
                <button></button>
                <button></button>
                <button></button>
            </div>
        </article>
    </section>
</div>