<div class="container-fluid how-it-work">
    <section class="container">
        <div class="first-order">
            <article>
                <h2>How it works</h2>
            </article>
            <div class="d7"></div>
        </div>

        <section class="blocks">
            <section>
                <article  class="active">
                    <span></span>
                    <p>Take care to provide all your contact information correctly e.g. your telephone number and email
                        address. We remain in constant contact with customers for the duration of their project.
                    </p>
                    <p>
                        We will use your telephone number and email as our main means of contacting you. Be careful to
                        provide accurate information and describe your requirements in full. Our writer will precisely
                        adhere to the instructions on the form.
                    </p>
                </article>
                <article>
                    <span></span>
                    <p>We calculate the deadline from the minute we receive your payment. The writer we allocate will only begin conducting research after your payment has been received. We guarantee a full refund, which means we will give you your money back if you are in any way dissatisfied with the service you receive. We may ask you for identification verification. This is our method of ensuring you are actually the person who ordered the paper.
                    </p>
                </article>
                <article>
                    <span></span>
                    <p>We will confirm your order by email and provide all the information needed to ensure our joint cooperation is a mutually beneficial one. In this, you will find answers to all your questions; it will tell you how to communicate with your writer and our support team and show you how to add any further files/materials if you need to. You should store this information in case you need to refer to it in the future.
                    </p>
                </article>
                <article>
                    <span></span>
                    <p>You can send messages to your writer if you have any queries and he/she will be on hand to respond to you via the same channel. You may update the information you originally provided, but if you make changes to the instructions, the size of your assignment, the service level, the deadline or the type of paper, you may be asked to pay an additional fee to allow us to handle your new requirements. Don't panic if you don't receive an immediate response from your writer. They may not check their messages continuously, but they will be working on your paper.
                    </p>
                </article>
                <article>
                    <span></span>
                    <p>Monitor your email as the deadline gets close. We will notify you when your order is complete and our email will have a link to your personal account area where you can download your paper. Alternatively, we can send your work by email if you have difficulty downloading it.
                    </p>
                </article>
                <article >
                    <span></span>
                    <p>Let us know what you think of your paper once you have reviewed it. Our email will contain a link to our customer satisfaction survey form. Please feel free to fill it in. You may also request revisions within two weeks following the deadline. Revisions will be free unless you modify your original instructions..
                    </p>
                </article>
            </section>
            <ol>
                <li class="active">
                    <h4>Make your way to the order page and complete</h4>
                </li>
                <li>
                    <h4>Continue to the payment page </h4>
                </li>
                <li>
                    <h4>Monitor your email for confirmation of your order and save</h4>
                </li>
                <li>
                    <h4>Use your personal account area to contact your writer and our support personnel</h4>
                </li>
                <li>
                    <h4>Use the link from our email to download your paper </h4>
                </li>
                <li>
                    <h4>Use the link from our email to download your paper </h4>
                </li>
            </ol>
        </section>

        <div class="first-order-btn">
            <button>
                order now
            </button>
            <div class="d7"></div>
        </div>
    </section>
</div>

<script>
    let article = document.querySelectorAll('.how-it-work .blocks article')
    let item = document.querySelectorAll('.how-it-work .blocks li')
    let current_article = article[0];
    let current_item = item[0];
    for (let i = 0; i < item.length; i++) {
       item[i].addEventListener('click',()=>{
            current_article.classList.remove('active');
            current_item.classList.remove('active')
            article[i].classList.add('active')
            item[i].classList.add('active')
            current_article = article[i]
            current_item = item[i]
       })
        
    }
</script>