<div class="container-fluid how-it-work">
    <section class="container">
        <div class="first-order ">
            <article>
                <h2>How it works</h2>
            </article>
            <div class="d7"></div>
        </div>

        <section class="blocks">
            <section>
                <article>
                    <span></span>
                    <p>Take care to provide all your contact information correctly e.g. your telephone number and email
                        address. We remain in constant contact with customers for the duration of their project.
                    </p>
                    <p>
                        We will use your telephone number and email as our main means of contacting you. Be careful to
                        provide accurate information and describe your requirements in full. Our writer will precisely
                        adhere to the instructions on the form.
                    </p>
                </article>
            </section>
            <ol>
                <li>
                    <h4>Make your way to the order page and complete</h4>
                </li>
                <li>
                    <h4>Continue to the payment page </h4>
                </li>
                <li>
                    <h4>Monitor your email for confirmation of your order and save</h4>
                </li>
                <li>
                    <h4>Use your personal account area to contact your writer and our support personnel</h4>
                </li>
                <li>
                    <h4>Use the link from our email to download your paper </h4>
                </li>
                <li>
                    <h4>Use the link from our email to download your paper </h4>
                </li>
            </ol>
        </section>
    </section>
</div>