<div class="section container-fluid bg-order-paper">
    <section class="container">
        <div class="first-order ">
            <article>
                <h2>Why order paper assignments from BestWritingHelp.org?</h2>
            </article>
            <div class="d7"></div>
        </div>
        <section>
            <header>
                <h4>The features that define our uniqueness when you order paper assignments:</h4>
            </header>
            <main>
                <article>
                    <span>1</span>
                    <p>A team of writing experts that is larger than you will find elsewhere.</p>
                </article>
                <article>
                    <span>2</span>
                    <p>Flexible pricing structure based on your academic level, the length of your assignment and the time frame you need it in.</p>
                </article>
                <article>
                    <span>3</span>
                    <p>The highest number of clients.</p>
                </article>
                <article>
                    <span>4</span>
                    <p>Attractive discounts for repeat customers.</p>
                </article>
                <article>
                    <span>5</span>
                    <p>Close collaboration between customer and writer</p>
                </article>
                <article>
                    <span>6</span>
                    <p>Revisions accommodated where customer is not satisfied with our first effort.</p>
                </article>
                <article>
                    <span>7</span>
                    <p>High levels of security for all customers.</p>
                </article>
                <article>
                    <span>8</span>
                    <p>Convenient contact methods with our headquarters if you have any queries on your order.</p>
                </article>
            </main>
        </section>

    </section>
</div>