<div class="container-fluid bg-order-by-home">
    <section class="container">
        <div class="first-order">
            <article>
                <h2>Get a price quote</h2>
                <button>
                    <div class="d28"></div>
                    <span>15</span>
                    <span>% off</span>
                    your first order
                </button>
            </article>
            <div class="d7"></div>
        </div>
    </section>
    <section class="container select-block">
        <article>
            <p>TITLE OF YOUR PAPER</p>
            <div class="dropdown" id='dropdown'>
                <div class="dropdown__label">
                    Item 1

                </div>
                <ul class="dropdown__menu">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
        </article>
        <article>
            <p>ACADEMIC LEVEL</p>
            <div class="dropdown" id='dropdown'>
                <div class="dropdown__label">
                    Item 1
                </div>
                <ul class="dropdown__menu">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
        </article>
        <article>
            <p>SPACING</p>
            <div class="dropdown" id='dropdown'>
                <div class="dropdown__label">
                    Item 1
                </div>
                <ul class="dropdown__menu">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
        </article>
        <article>
            <p>URGENCY</p>
            <div class="dropdown" id='dropdown'>
                <div class="dropdown__label">
                    Item 1
                </div>
                <ul class="dropdown__menu">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
        </article>
        <article>
            <p class="total">Total price <span>16.99</span> <span>USD</span> </p>
        </article>
        <article>
            <div class="first-order">
                <button>
                    order now
                </button>
                <div class="d7"></div>
            </div>
        </article>
    </section>
</div>

<script>

    class Dropdown {
        constructor(selector) {
            this.el = document.querySelectorAll(selector);

            for (let i = 0; i < this.el.length; i++) {


                this.el[i].addEventListener('click', event => {

                    let targ = event.target;
                    if (targ.classList.contains('dropdown__label')) {
                        if (targ.parentElement.classList.contains('open')) {
                            targ.parentElement.classList.remove('open')
                        }
                        else {
                            targ.parentElement.classList.add('open')
                        }
                    }
                    else if (event.target.tagName.toLowerCase() === 'li') {
                        let text = event.target.textContent
                        this.select(text, targ.parentElement)
                    }
                })
            }
        }
        select(text, el) {
            el.parentElement.firstElementChild.textContent = text;
            el.parentElement.classList.remove('open')

        }
    }

    const dropdown = new Dropdown('.select-block')
</script>