
// colors
$dark:#013056;
$medium:#1b7fd0;
$light:#caddea;
$white:#fff;
$black:#000;
$warning:#dd0000;

// fonts
$bold:'Roboto-Bold';
$normal:'Roboto-Regular';
$thin:'Roboto-Thin';
$italic:'Roboto-MediumItalic';
$medium-f:'Roboto-Medium';